<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Сравнение учебных планов</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css"
            rel="stylesheet">
        <meta name="viewport"
            content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="format-detection" content="telephone=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="MobileOptimized" content="176" />
        <meta name="HandheldFriendly" content="True" />
        <meta name="robots" content="noindex,nofollow" />
        <script src="https://telegram.org/js/telegram-web-app.js?1"></script>
        <script>
            function setThemeClass() {
                document.documentElement.className = Telegram.WebApp.colorScheme;
            }
    
            Telegram.WebApp.onEvent('themeChanged', setThemeClass);
            setThemeClass();
        </script>
        <link href="{{ url_for('static', path='/styles.css') }}"
            rel="stylesheet">
    </head>
    <body style="visibility: hidden;">
        <section id="select-plans-section">
            <div class="w-full flex flex-col">
                <div class="container-bg w-full max-w-2xl rounded-lg p-4">
                    <div class="w-full items-start flex flex-col">
                        <label for="year-select-1"
                            class="block text-sm font-medium">Год</label>
                        <select id="year-select-1"
                            class="w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left secondary-bg">
                            {% for year in plans | map(attribute='year') |
                            unique %}
                            <option value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="w-full mt-4 flex flex-col items-start">
                        <label for="direction-select-1"
                            class="block text-sm font-medium">Направление</label>
                        <select id="direction-select-1"
                            class="w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left secondary-bg"
                            disabled></select>
                    </div>

                    <div class="w-full mt-4 flex flex-col items-start">
                        <label for="profile-select-1"
                            class="block text-sm font-medium">Профиль</label>
                        <select id="profile-select-1"
                            class="w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left secondary-bg"
                            disabled></select>
                    </div>
                </div>

                <div class="my-4">
                    <div class="container-bg w-full max-w-2xl rounded-lg p-4">
                        <div class="w-full items-start flex flex-col">
                            <label for="year-select-2"
                                class="block text-sm font-medium">Год</label>
                            <select id="year-select-2"
                                class="w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left secondary-bg">
                                {% for year in plans | map(attribute='year') |
                                unique %}
                                <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="w-full mt-4 flex flex-col items-start
                            <label for="direction-select-2"
                            class="block text-sm font-medium">Направление</label>
                        <select id="direction-select-2"
                            class="w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left secondary-bg"
                            disabled></select>
                    </div>

                    <div class="w-full mt-4 flex flex-col items-start">
                        <label for="profile-select-2"
                            class="block text-sm font-medium">Профиль</label>
                        <select id="profile-select-2"
                            class="w-full cursor-default rounded-md py-2 pl-3 pr-10 text-left secondary-bg"
                            disabled></select>
                    </div>
                </div>
            </div>
        </section>
        <section id="compare-section" class="hidden">
            <div class="w-full mt-4">
                <table id="compare-table"
                    class="min-w-full divide-y divide-gray-600 container-bg rounded-lg">
                    <thead>
                        <tr class>
                            <th
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold"
                                scope="col"
                                id="semester-label">Семестр</th>
                            <th
                                class="px-3 py-3.5 text-left text-sm font-semibold"
                                scope="col"
                                id="direction-label-1">Учебный план
                                1</th>
                            <th
                                class="px-3 py-3.5 text-left text-sm font-semibold"
                                scope="col"
                                id="direction-label-2">Учебный план
                                2</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="w-full mt-4 grid grid-cols-2 gap-4"
                id="semester-controls">
                <button id="prev-semester" disabled class="rounded-lg">
                    Пред. семестр</button>
                <button id="next-semester" disabled class="rounded-lg">
                    След. семестр</button>
            </div>
            <button id="toggle-comparison-mode" class="btn btn-primary">Переключить
                режим сравнения</button>
        </section>
        <script src="https://webappcontent.telegram.org/js/jquery.min.js"></script>
        <script>
            const plans = {{ plans | tojson | safe }};
        </script>
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </body>

</html>